*.class
*.log
nohup.out

scratch/
.DS_Store
config/

# IDEA specific
.idea/

# Eclipse specific
.cache-main
.cache-tests
.classpath
.project
.settings/
bin/

# security specific
keys/

# sbt specific
sbt
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
